/* --- HISTORIQUE --- */

#historiqueMap {
    width: 100%;
    height: 400px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#historiqueList ul {
    list-style: none;
    padding: 0;
}

#historiqueList li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

/* Dark Mode Historique */
body.darkmode #historiqueList li {
    border-bottom: 1px solid #444;
}